# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
src/test/java/BeerShop/DefinitionTestSuite
src/test/java/BeerShop/MishoDefinitionTestSuite
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
